
<h3>Hey there!</h3>
<p> 
As you can see, this website is back in buisness. 
</p>
<p> 
But this is not your average website on Apache (although Apache is used for proxying). I wrote the code that serves these webpages myself, in a obscure little language called C. The webserver is threaded and is select() based for portability and performance. 
</p> 
<p> 
The pages are sent from memory, and preloaded when the webserver starts. Also, a MySQL backend holds the content, like this page. 
</p> 
<p> 
Please stay tuned as this thing gets updated.  
</p>
